<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="HilltopDatabase" connectionString="Database=Hilltop;Server=SQL2012DEV01;User ID=ReportingServices;Password=coffee2go;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CsvFileLocation" value="\\hilltop01\Hilltop\Reports\" />
  </appSettings>
</configuration>