<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections />
  <connectionStrings>
    <add name="HilltopDatabase" connectionString="Database=Hilltop;Server=;User ID=;Password=;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RmoaDisplayLimit" value="50" />
    <add key="AllAlertsDisplayLimit" value="100" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="10800" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <authentication mode="Windows">
      <forms loginUrl="~/Account/Login" timeout="10800" defaultUrl="~/" />
    </authentication>
    <customErrors mode="RemoteOnly" />
  </system.web>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy proxyaddress="http://amber.internal.ecan.govt.nz:8080" bypassonlocal="True" />
    </defaultProxy>
    <!--<mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="&quot;NAV Integration (Do Not Reply!)&quot; &lt;do-not-reply@ecan.govt.nz&gt;">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\EmailDump\" />
        <network host="localhost" port="25" />
      </smtp>
    </mailSettings>-->
    <mailSettings>
      <smtp deliveryMethod="Network" from="do-not-reply@ecan.govt.nz">
        <network host="mail.ecan.govt.nz" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Alerts.aspx" />
      </files>
    </defaultDocument>
    <!--<security>
      <authentication>
       <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="true" />
      </authentication>
    </security>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
